.Box {
    width: 720px;
    height: 450px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(207, 211, 209) ;
  }
  
  .Pessoa {
    display: flex;
    flex-direction: row;
  }
  
  .circulo {
    width: 70px;
    height: 70px;
    background-color: rgb(159, 207, 162);
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .pessoatxt {
    margin-top: 35px;
    margin-left: 10px;
  }
  
  .Texto {
    margin-left: 100px;
    margin-right: 30px;
  }
  
  .datahora {
    margin-left: 100px;
  }